# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*

# production
/dist
*.local

# IDE & Editor
.vscode/
.idea/. 
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# misc
*.log
